<div ng-controller="GenericProjectCtrl">
    <div class="row">
        <h4 id="GenericProfileTitle" class="small-8 columns">{{userOfInterest.username}}'s projects</h4>
        <div class="small-2 small-offset-1 columns">
            <button class="button round  icon-circle-arrow-left " ng-click= "resetHomePage()"><i class="icon-circle-arrow-left">BACK</i></button>
        </div>
    </div>

    <div class="small-3 columns">
        <div class="row" id="projectSelectorWrapper">
            <ul class="projectSelector">
                <li ng-repeat="project in userOfInterest.projects" class="projectSelectorItem" ng-click="setCurrentGenericProject(project._id.$id)">
                    <button class="button small radius"><i class="fa fa-flask"></i> {{project.name}}</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="small-9 columns project"  ng-show="currentGenericProject.name !== ''">

        <h3 class="projectTitle" id="PresentationSection">{{currentGenericProject.name}}</h3>

        <div class="row">
            <div class="small-12 small-centered columns">
                <div class="myPresentationContainer">
                    <img src="../assets/img/google-now.jpg" class="presentationFront">
                    <div class="icon-bar two-up projectMenu">
                        <a class="item custonMenuIcon" href="../presentation.php?id={{currentGenericProject.id}}&transition={{currentGenericProject.transition}}&theme={{currentGenericProject.theme}}" target="_blank">
                            <img src="../assets/img/play2.png" >
                            <label>Play</label>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
