<div id="homePage">
    <div class="row">
        <div class="small-12 columns">
            <h1>HOME PAGE PREMI</h1>
        </div>
    </div>

    <div class= "row">
        <div class="small-2 columns">
            <button class="button round" ng-click= "login()">LOGIN</button>
        </div>
        <div class="small-2 end columns">
            <button class="button round" ng-click= "signUp()">SIGN UP</button>
        </div>
    </div>

    <div class= "row">
        <div class="small-3 columns">
            <button class="button round" ng-click= "openRestrictedArea()">RESTRICTED AREA</button>
        </div>
    </div>

</div>
