<div id="homePage">
    <div class="row homePageContent" ng-show="searchViewVisibility">
        <div class="small-centered columns">
            <h1 id="homePageTitle">PREMI</h1>
        </div>
    </div>

    <div class="row homePageContent" ng-show= "searchViewVisibility">
        <div class="small-12 columns homeContent">
            <div class="row">
                <div class="small-10 small-offset-1 columns">
                    <input  type="text" ng-model="searchText" class="mainSearchBar"/>
                </div>
            </div>

            <section class="homeCheckbox">
                <input type="checkbox" id="checkbox2" checked ng-model="checked" ng-change="resetSearchResults()"/>
                <label for="checkbox2"></label>
                    <p>FILTER:    PROJECTS</p>
                    <p>FILTER:    USERS</p>
            </section>

            <div class="row">
                <div class="small-2 columns small-offset-5">
                    <button class="button round" id="searchSubmit" ng-click="search()"><i class="fa fa-search" fa-lg></i> Search</button>
                </div>
            </div>

            <div id="searchResults" class="row" ng-show="checked">
                <ul class="small-10 small-offset-1 columns" >
                    <li ng-repeat="project in searchResults" class="searchResultItem small-4 end columns">
                        <a href="/presentation.php?user={{project.username}}&presentationId={{project.presentationId}}&id={{project.projectId}}&theme={{project.theme}}&transition={{project.transition}}" target="_blank">
                        <img src="../assets/img/google-now.jpg"/>
                            <span>{{project.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="searchResults" class="row" ng-hide="checked">
                <ul class="small-10 small-offset-1 columns">
                    <li ng-repeat="result in searchResults" class="searchResultItem small-2 columns" ng-click="analizeUser(result.username)"><!-- ng-click="setCurrentProject(project.id)" -->
                        <a href>
                            <img src="../assets/img/user_male.png"/>
                            <span>{{result.username}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="searchViewVisibility">
        <div class="small-12 columns">
            <generic-project></generic-project>
        </div>
    </div>

    <div class= "row" id="footer">
        <div class="small-11 columns">
            <p></p>
        </div>
        <div class="small-1 columns">
            <img src="../../assets/img/logo.png" />
        </div>
    </div>

</div>
