<div>
    <div class="modal-header">
        <h3 class="modal-title">Media library</h3>
    </div>

    <div class="row modal-body">
        <img ng-repeat="image in imageList" class="imgThumbnailEditor" ng-src="{{image.url}}" ng-click='insertImage(image.url)' alt="{{image.name}}">
    </div>

    <div class="row modal-footer" id="modal-footer-img">
        <form name="form" class="css-form" enctype='multipart/form-data'>
            <input type="file" accept="image/*" data-file="uImage"/>

            <input type="submit" class="button small radius" value="Upload" ng-click="upload(uImage)"></input>
            <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
        </form>
    </div>

</div>
