<div>
    <div class="modal-header">
        <h3 class="modal-title">Media library</h3>
    </div>

    <div class="row modal-body">
        <div>
            <img ng-repeat="image in imageList" class="imgThumbnailEditor" ng-src="{{image}}" ng-click='insertImage(image)'>
        </div>
    </div>

    <div class="row modal-footer">
        <div ng-controller="AppController" nv-file-drop="" uploader="uploader">
            <div ng-show="uploader.isHTML5">
                <input type="file" accept="image/*" nv-file-select="" uploader="uploader" multiple />
                <ul style="list-style:none;">
                    <li ng-repeat="item in uploader.queue">
                        <div>Name: {{ item.file.name }}</div>
                        <div ng-show="uploader.isHTML5">
                            <p>Progress: {{ item.progress }}%</p>
                            <div class="progress large-4">
                                <span style="width: {{item.progress}}%;" class="meter custom"></span>
                            </div>
                        </div>
                        <div>
                            <button ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" class="button tiny radius MenuRadioButtons">Upload</button>
                            <button ng-click="item.cancel()" ng-disabled="!item.isUploading" class="button tiny radius MenuRadioButtons">Cancel</button>
                            <button ng-click="item.remove()" class="button tiny radius MenuRadioButtons">Remove</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
