<div class="modal-header">
    <h3 class="modal-title">LOGIN</h3>
</div>
<form>
    <div class="modal-body">
    	<label>Username</label>
        <input type="text" ng-model="login_data.username" class="form-control">

    	<label>Password <a ng-click="forgotPassword()">(forgot password)</a></label>
        <input type="password" ng-model="login_data.password" class="form-control">
    </div>

    <div class="modal-footer">
        <button class="button small radius" ng-click="ok()">OK</button>
        <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
    </div>
</form>
