<div class="small-3 columns">
    <div class="row">
        <div>
            <button class="button small radius success" ng-click="newProject()">New Project</button>
        </div>
    </div>
    <div class="row" id="projectSelectorWrapper">
        <div class="small-12 columns" id='projectSelector'>
            <ul>
                <li ng-repeat="project in projects" class="projectSelectorItem" ng-click="setCurrentProject(project.id)"><a href><img src="../assets/img/project_90x90.png" width="40px"/><span>{{project.name}}</span></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="small-9 columns project"  ng-show="currentProject.name !== ''">

    <h3 class="projectTitle" id="PresentationSection">{{currentProject.name}}</h3>

    <div class="row">
        <div class="small-12 small-centered columns">
            <div class="myPresentationContainer">
                <img src="../assets/img/google-now.jpg" class="presentationFront">
                <div class="icon-bar three-up projectMenu">
                    <a class="item custonMenuIcon" href="../presentation.html">
                        <img src="../assets/img/play2.png" >
                        <label>Play</label>
                    </a>
                    <a class="item custonMenuIcon" ng-click="editProject()">
                        <img src="../assets/img/edit.png" >
                        <label>Edit</label>
                    </a>
                    <a class="item custonMenuIcon" ng-click="deleteProject()">
                        <img src="../assets/img/delete.svg" >
                        <label>Delete</label>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-top-space myPresentationContainer">
        <div class="row">
            <h4 id="InfographicsSection">Infographics</h4>
            <button class="button small radius success" >Add new Infographic</button>
        </div>
        <div>
            <ul class="inline-list infographicsList small-12 small-centered columns ">
                <li class="animate-repeat" ng-repeat="infographic in infographics">
                    <a> <img src= "../assets/img/infographicPlaceholder.png"><span class="infographicListText">{{infographic.title}}</span></a><a class="infographicListDelete" ng-click="deleteInfographic(infographic.id, $index)">Delete</a>
                </li>
            </ul>
        </div>
    </div>
</div>
