<div class="modal-header">
    <h3 class="modal-title">RESET PASSWORD</h3>
</div>
<form>
    <div class="modal-body">
    	<label>Email</label>
        <input type="email" ng-model="reset_data.email" class="form-control" placeholder="Enter your email address">

        <label>Password</label>
        <input type="password" ng-model="reset_data.password" class="form-control" placeholder="Enter new password">

        <label>Repeat password</label>
        <input type="password" ng-model="reset_data.rpassword" class="form-control" placeholder="Repeat password">
    </div>

    <div class="modal-footer">
        <button class="button small radius" ng-click="ok()">Submit</button>
        <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
    </div>
</form>
