<div class="small-12 columns">
    <h1>PROJECT NAME</h1>
</div>


<div id= "restrictedArea" ng-controller="restrictedAreaCtrl">

    <nav  id="sectionMenu">
        <div class="button-group">
            <button type="button" class="button MenuRadioButtons" ng-model="radioModel" ng-attr-id="myProjects" btn-radio= "'myProjects'">My Projects</button>
            <button type="button" class="button MenuRadioButtons" ng-model="radioModel" ng-attr-id="presentationEditor" btn-radio= "'presentationEditor'">Presentation Editor</button>
            <button type="button" class="button MenuRadioButtons" ng-model="radioModel" ng-attr-id="infographicEditor" btn-radio= "'infographicEditor'">Infographic Editor</button>
        </div>
    </nav>

    <div ng-show= "radioModel == 'myProjects'" id="myProjects" ng-controller="myProjectsCtrl">
        <my-projects-directive/>
    </div>

    <div ng-show= "radioModel == 'presentationEditor'" id="presentationEditor" ng-controller="presentationEditorCtrl">
        <presentation-editor-directive/>
    </div>

    <div ng-show= "radioModel == 'infographicEditor'" id="infographicEditor" ng-controller="infographicEditorCtrl">
        <infographics-editor-directive/>
    </div>
</div>
