<form id="slideEditorPanel">
        <p>{{objectSelected.type}}</p>

        <div class="row">
            <div class="large-6 columns">
                <label>ScaleX
                    <input type="number" ng-model="objectSelected.scaleX" ng-change="update()" step="0.1"/>
                </label>
            </div>
            <div class="large-6 columns">
                <label>ScaleY
                    <input type="number" ng-model="objectSelected.scaleY" ng-change="update()" step="0.1"/>
                </label>
            </div>
        </div>

        <div class= "row">
            <div class="large-6 columns">
                <label>zIndex
                    <input type="number" ng-model="objectSelected.zIndex" ng-change="update()" step="1"/>
                </label>
            </div>
            <div class="large-6 columns">
                <button class="button" ng-click="removeObject(objectSelected)">Delete</button>
            </div>
        </div>

        <slide-editor-panel-spec-directive/>

</form>
