<div ng-controller= "SlideEditorCtrl">
    <div class="row">
        <div class="small-2 columns" >
            <ul>
               <!--
                <li class="editMenuItemContainer">
                    <button class="button secondary expand radius"><i class="fa fa-cogs"></i> settings</button>
                </li>
                -->
                <li class="editMenuItemContainer" >
                    <button class="button secondary expand radius" ng-click="openModal('presentationStyle')"><i class="fa fa-puzzle-piece"></i> style</button>
                </li>
            </ul>
            <ul>
                <li class="editMenuItemContainer" ng-repeat="component in components" ng-click='openModal(component.id)'>
                    <button class="button expand radius" id="{{component.id}}"><i class="{{component.classes}}"></i> {{component.label}}</button>
                </li>
            </ul>
            <ul class="editMenuContainer">
                <li class="editMenuItemContainer"><a href="" class="button tiny secondary" ng-click="changeSlide('up')"><i class="fa fa-arrow-up"></i></a></li>
                <ul class="button-group">
                    <li class="editMenuItemContainer"><a href="" class="button tiny secondary" ng-click="changeSlide('left')"><i class="fa fa-arrow-left"></i></i></a></li>
                    <li class="editMenuItemContainer"><a href="" class="button tiny secondary" ng-click="changeSlide('right')"><i class="fa fa-arrow-right"></i></a></li>
                </ul>
                <li class="editMenuItemContainer"><a href="" class="button tiny secondary" ng-click="changeSlide('up')"><i class="fa fa-arrow-down"></i></a></li>
            </ul>
            <ul class="editMenuContainer">
                <li class="editMenuItemContainer"><a href="" class="button tiny success" ng-click="addSlide('up')"><i class="fa fa-plus"></i></a></li>
                <ul class="button-group">
                    <li><a href="" class="button tiny success" ng-click="addSlide('left')"><i class="fa fa-plus"></i></a></li>
                    <li><a href="" class="button tiny success" ng-click="addSlide('right')"><i class="fa fa-plus"></i></a></li>
                </ul>
                <li class="editMenuItemContainer"><a href="" class="button tiny success" ng-click="addSlide('down')"><i class="fa fa-plus"></i></a></li>
            </ul>

        </div>

        <div class="small-8 columns">
            <canvas id="slide" width="800" height="600" style="border:1px solid #000000;" ></canvas>
        </div>

        <div class="small-2 columns" id="slideEditorPanel">
            <div ng-show= "objectSelected !== 'null'">
                <slide-editor-panel></slide-editor-panel>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-1 columns">
            <button class="button radius" id="saveButton" ng-click="saveSlide()">Save</button>
        </div>
        <div class="small-11 columns">
            <p id="serialized">{{svg}}</p>
            <p id="serialized">{{json}}</p>
        </div>
    </div>
</div>
