<form id="slideEditorPanelSpec">
    <div ng-switch on="objectSelected.type">
        <!-- TYPE TEXT -->
        <div ng-switch-when="text">
            <div class="row">
                <div class="small-12 columns">
                    <label>Text
                        <textarea placeholder="Inserisci il testo qui" ng-model="objectSelected.text" ng-change="update()">{{objectSelected.text}}</textarea>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                <ul class="button-group">
                    <li><a class="button tiny" ng-click="toggleBold(objectSelected)"><b>B</b></a></li>
                    <li><a class="button tiny" ng-click="toggleItalic(objectSelected)"><i>I</i></a></li>
                    <li><a class="button tiny" ng-click="toggleUnderlined(objectSelected)"><u>U</u></a></li>
                </ul>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <label>Size
                        <input type="number" ng-model="objectSelected.fontSize" ng-change="update()"/>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <label>Select Font
                        <select ng-model="objectSelected.fontFamily" ng-change="update()" >
                            <option ng-repeat="font in avaiableFonts" ng-value="font.name">{{font.name}}</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <label>Color
                        <input type="color" ng-model="objectSelected.fill" ng-change="update()" class="small-6 columns" />
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>
