<form>
    <div class="row" id="slideEditorPanelTitle">
        <div class="small-12 columns">
            <center><h4>{{objectSelected.type}}</h4></center>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <label>ScaleX
                <input type="number" ng-model="objectSelected.scaleX" ng-change="update()" step="0.1"/>
            </label>
        </div>
        <div class="large-6 columns">
            <label>ScaleY
                <input type="number" ng-model="objectSelected.scaleY" ng-change="update()" step="0.1"/>
            </label>
        </div>
    </div>

    <div class= "row">
        <div class="small-10 columns">
            <ul class="button-group round">
                <li><a class="button tiny" ng-click="bringForward(objectSelected)"><i class="fa fa-arrow-circle-up fa-lg"></i></a></li>
                <li><a class="button tiny" ng-click="sendBackwards(objectSelected)"><i class="fa fa-arrow-circle-down fa-lg"></i></a></li>
            </ul>
        </div>
    </div>

    <div class= "row">
        <div class="small-6 columns">
            <button class="button tiny round" ng-click="removeObject()">Delete</button>
        </div>
    </div>

    <slide-editor-panel-spec></slide-editor-panel-spec>
</form>
