<top-bar class="top-bar" role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#" ng-click="openHome()">PREMI</a></h1>
        </li>
    </ul>

    <top-bar-section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li class="divider"></li>
            <li><a href="#" ng-click= "openLogin()">Login</a></li>

            <li class="divider"></li>
            <li class="has-form"><a class= "button round" href="#" ng-click= "openSignup()">Sign up</a></li>

            <li class="divider"></li>
            <li has-dropdown class="has-dropdown">
                <a href="#">Menu</a>
                <ul top-bar-dropdown class="dropdown">
                    <li><a href="#" ng-click="openHome()">HOME</a></li>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#" ng-click="openRestrictedArea()">My Projects</a></li>
                </ul>
            </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
        </ul>
    </top-bar-section>
</top-bar>
