<top-bar class="top-bar" role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#" ng-click="openHome()">PREMI</a></h1>
        </li>
    </ul>

    <top-bar-section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li class="divider" ng-show="user === 'false'"></li>
            <li class="has-form"><a class= "button round" href="#" ng-show="user === 'false'" ng-click= "signUp()">Sign up</a></li>

            <li class="divider"></li>
            <li><a href="#" ng-show="user === 'false'" ng-click= "login()">Login</a></li>
            <li><a href="#" ng-show="user !== 'false'" ng-click= "logout()">Logout</a></li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
        </ul>
    </top-bar-section>
</top-bar>
