/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 17-giu-2015, 16.27.27
    Author     : fabio
*/

body {
    font-family: "lato";
}

#homePage {
    text-align: center;
    min-height: 800px;
    margin-top:-10px;
    background:url("../img/flatBackground.png") ;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}

.user-data {
    background-color: #efefef;
}

#footer {
    position: fixed;
    bottom: 0;
}

#footer img {
    margin-bottom: 15px;
}

.myModal {
    max-width: 350px !important;
}

.row {
    max-width: 98% !important;
    margin-top: 0.5em !important;
}

.row-top-space {
    margin-top: 1em !important;
}

.editMenuItemContainer{
    list-style-type: none;
}

.editMenuContainer {
    text-align: center;
}

.button {
    margin-bottom: 0.225rem !important;
}

/*.ng-invalid.ng-dirty {
    border-color: red;
}

.ng-valid.ng-dirty {
    border-color: green;
}*/

.signupError {
    margin-top: -10px;
    font-size: 0.7em;
    color: red;
}

.loginError {
    margin: -10px 0 10px 0;
    font-size: 0.7em;
    color: red;
}

#slideEditorPanel {
    background-color: #e7e7e7;
}

#slideEditorPanelSpec {
    background-color: #e7e7e7;
}

#section-menu {
    float: right;
}

#folder {
    margin: 0 !important;
    list-style-type: none;
}

#modal-footer-img {
    border-top: 1px solid #999;
}

#slideEditorPanelTitle {
    text-transform:uppercase;
}

.project {
    background-color: #ececec;
}

.formatButtons-list{
    float: left;
    list-style-type: none;
}

.imgThumbnailEditor{
    float: left;
    height: 80px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.custonMenuIcon{
	padding-top:5px !important;
	padding-bottom:5px !important;
}

.myPresentationContainer {
    text-align: center;
}

.presentationFront{
	height: auto !important;
	width:50% !important;
}

.projectMenu{
	max-width:50%;
}

.projectTitle{
    text-align: center;
    text-transform: uppercase;
}

.infographicMenu{
	max-width:10%;
}
.infographicMenu >img{
	max-width:10%;
}

.infographicsList img{
	max-width:200px;
	display:block;
}

.infographicsList a{
	text-align: center !important;
}

.infographicsList > button{
    display: block !important;
}
.infographicListDelete{
    text-align: center !important;
    color:red;
}
.ProjectTitle{
    text-transform: uppercase;
}aas