/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 17-giu-2015, 16.27.27
    Author     : fabio
*/

body {
    font-family: "lato";
}

#homePage {
    text-align: center;
    min-height: 800px;
    margin-top:-10px;
    background-color: #8A748F !important;
    background:url("../img/flatBackground.png") ;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}

#homePageTitle{
    color: #FFF;
}

.user-data {
    background-color: #efefef;
}

.restrictedAreaMenu {
    border-bottom: 1px black solid;
}

#footer {
    position: fixed;
    bottom: 0;
}

#footer img {
    margin-bottom: 15px;
}

.myModal {
    max-width: 350px !important;
}

.row {
    max-width: 98% !important;
    margin-top: 0.5em !important;
}

.row-top-space {
    margin-top: 1em !important;
}

.editMenuItemContainer{
    list-style-type: none;
    min-width: 70px !important;
}

.editMenuContainer {
    text-align: center;
}

.button {
    margin-bottom: 0.225rem !important;
}

#savedeletebutton li {
    margin-left: 0;
}
/*.ng-invalid.ng-dirty {
    border-color: red;
}

.ng-valid.ng-dirty {
    border-color: green;
}*/

.signupError {
    margin-top: -10px;
    font-size: 0.7em;
    color: red;
}

.loginError {
    margin: -10px 0 10px 0;
    font-size: 0.7em;
    color: red;
}

#slideEditorPanel {
    background-color: #e7e7e7;
}

#slideEditorPanelSpec {
    background-color: #e7e7e7;
}

#section-menu {
    float: right;
}

#folder {
    margin: 0 !important;
    list-style-type: none;
}

#modal-footer-img {
    border-top: 1px solid #999;
}

#slideEditorPanelTitle {
    text-transform:uppercase;
}

.project {
    background-color: #ececec;
}

.formatButtons-list{
    float: left;
    list-style-type: none;
}

.imgThumbnailEditor{
    float: left;
    height: 80px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.custonMenuIcon{
	padding-top:5px !important;
	padding-bottom:5px !important;
}

.myPresentationContainer {
    text-align: center;
}

.presentationFront{
	height: auto !important;
	width:50% !important;
}

.projectMenu{
	max-width:50%;
}

.projectTitle{
    text-align: center;
    text-transform: uppercase;
}

.infographicMenu{
	max-width:10%;
}
.infographicMenu >img{
	max-width:10%;
}

.infographicsList img{
	max-width:200px;
	display:block;
}

.infographicsList a{
	text-align: center !important;
}

.infographicsList > button{
    display: block !important;
}
.infographicListDelete{
    text-align: center !important;
    color:red;
}
.ProjectTitle{
    text-transform: uppercase;
}

section.homeCheckbox {
   /* width: 160px;*/
    display: inline-block;
}
section.homeCheckbox input {
    display: block;
    opacity: 0;
}
section.homeCheckbox label {
    width: 80px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    background: rgb(189, 189, 189);
    border-radius: 30px;

    transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
}
section.homeCheckbox label:after {
    left: 0;
    width: 20px;
    height: 20px;
    margin: 5px;
    content: '';
    position: absolute;
    background: #FFF;
    border-radius: 10px;
}
section.homeCheckbox input:checked + label {
   /* background: rgb(39, 173, 95);*/
}
input:checked + label:after {
    left: auto;
    right: 0;
}

.mainSearchBar{
    text-align: center !important;
}
section.homeCheckbox p {
    /*font: normal 8px/40px Arial;*/
    color: rgb(189, 189, 189);
    display: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
section.homeCheckbox input:checked ~ p:nth-of-type(1) {
    //color: rgb(39, 173, 95);
    display: block;
}
section.homeCheckbox input:not(:checked) ~ p:nth-of-type(2) {
    display: block;
}

.transitionsWrapper{
    max-width: 33%;
    float:left;
}

.transitionsWrapper >img{
    max-width: 80%;
    max-height: 120px;
    margin-left: 10%;
}
.transitionsWrapper img:hover {
    transform: scale(1.1);
    vertical-align: middle;
}

.transitionsWrapper > p{
    text-align: center;
    clear:left;
}

.themesWrapper{
    width: 15%;
    max-width: 200px;
    float:left;
    border: #000 1px solid;
    opacity: 0.5;
}

.themesWrapper:hover{
    opacity: 1;
}

.themesWrapper a{
    text-align: center;
}
.themesWrapper p{
    text-align: center;
}

#projectSelectorWrapper{
    background-color: #ffffff;
    background-color: transparent !important;
}

.projectSelector {
    margin-left: 0px !important;
    list-style: none;
}

#searchResults .searchResultItem {
    list-style: none !important;
}

#searchResults .searchResultItem >img{
    min-height: 100px;
    width: 100%;

}
#searchResults .searchResultItem >a{
    width: 100%;
    color: #BDBDBD;
    /*text-transform: capitalize;*/
}

#GenericProfileTitle{
    color: #FFF;
    text-transform: capitalize;
}

#backButtonContainer{
    /*float: right;*/
}

body{
    background-image: url(../img/texture.jpg) !important;
}