/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 17-giu-2015, 16.27.27
    Author     : fabio
*/

body {
    font-family: "lato";
}

#homePage {
    text-align: center;
    min-height: 800px;
    margin-top:-10px;
    background-color: #8A748F !important;
    background:url("../img/flatBackground.png") ;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}

.user-data {
    background-color: #efefef;
}

#footer {
    position: fixed;
    bottom: 0;
}

#footer img {
    margin-bottom: 15px;
}

.myModal {
    max-width: 350px !important;
}

.row {
    max-width: 98% !important;
    margin-top: 0.5em !important;
}

.row-top-space {
    margin-top: 1em !important;
}

.editMenuItemContainer{
    list-style-type: none;
}

.editMenuContainer {
    text-align: center;
}

.button {
    margin-bottom: 0.225rem !important;
}

/*.ng-invalid.ng-dirty {
    border-color: red;
}

.ng-valid.ng-dirty {
    border-color: green;
}*/

.signupError {
    margin-top: -10px;
    font-size: 0.7em;
    color: red;
}

.loginError {
    margin: -10px 0 10px 0;
    font-size: 0.7em;
    color: red;
}

#slideEditorPanel {
    background-color: #e7e7e7;
}

#slideEditorPanelSpec {
    background-color: #e7e7e7;
}

#section-menu {
    float: right;
}

#folder {
    margin: 0 !important;
    list-style-type: none;
}

#modal-footer-img {
    border-top: 1px solid #999;
}

#slideEditorPanelTitle {
    text-transform:uppercase;
}

.project {
    background-color: #ececec;
}

.formatButtons-list{
    float: left;
    list-style-type: none;
}

.imgThumbnailEditor{
    float: left;
    height: 80px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.custonMenuIcon{
	padding-top:5px !important;
	padding-bottom:5px !important;
}

.myPresentationContainer {
    text-align: center;
}

.presentationFront{
	height: auto !important;
	width:50% !important;
}

.projectMenu{
	max-width:50%;
}

.projectTitle{
    text-align: center;
    text-transform: uppercase;
}

.infographicMenu{
	max-width:10%;
}
.infographicMenu >img{
	max-width:10%;
}

.infographicsList img{
	max-width:200px;
	display:block;
}

.infographicsList a{
	text-align: center !important;
}

.infographicsList > button{
    display: block !important;
}
.infographicListDelete{
    text-align: center !important;
    color:red;
}
.ProjectTitle{
    text-transform: uppercase;
}

section.homeCheckbox {
   /* width: 160px;*/
    display: inline-block;
}
section.homeCheckbox input {
    display: block;
    opacity: 0;
}
section.homeCheckbox label {
    width: 80px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    background: rgb(189, 189, 189);
    border-radius: 30px;

    transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
}
section.homeCheckbox label:after {
    left: 0;
    width: 20px;
    height: 20px;
    margin: 5px;
    content: '';
    position: absolute;
    background: #FFF;
    border-radius: 10px;
}
section.homeCheckbox input:checked + label {
   /* background: rgb(39, 173, 95);*/
}
input:checked + label:after {
    left: auto;
    right: 0;
}

.mainSearchBar{
    text-align: center !important;
}
section.homeCheckbox p {
    /*font: normal 8px/40px Arial;*/
    color: rgb(189, 189, 189);
    display: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
section.homeCheckbox input:checked ~ p:nth-of-type(1) {
    //color: rgb(39, 173, 95);
    display: block;
}
section.homeCheckbox input:not(:checked) ~ p:nth-of-type(2) {
    display: block;
}

.transitionsWrapper{
    max-width: 33%;
    float:left;
}

.transitionsWrapper >img{
    max-width: 80%;
    max-height: 120px;
    margin-left: 10%;
}
.transitionsWrapper img:hover {
    transform: scale(1.1);
    vertical-align: middle;
}

.transitionsWrapper > p{
    text-align: center;
    clear:left;
}

.themesWrapper{
    width: 15%;
    max-width: 200px;
    float:left;
    border: #000 1px solid;
    opacity: 0.5;
}

.themesWrapper:hover{
    opacity: 1;
}

.themesWrapper a{
    text-align: center;
}
.themesWrapper p{
    text-align: center;
}

/*** PROJECTS MENU [BEGIN] ***/
#projectSelectorWrapper{
    background-color: #ffffff;
}

@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Please Keep this font import at the very top of any CSS file */
@charset "UTF-8";
/* Starter CSS for Flyout Menu */
#projectSelector {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1;
}
#projectSelector ul,
#projectSelector ul li {


    list-style: none;
    margin: 0;
    padding: 0;
}
#projectSelector ul {
    position: relative;
    z-index: 597;
    float: left;
    background-color: #ffffff;
}
#projectSelector ul li {
    background-color: #ECECEC;
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
    position: relative;
    /*border-bottom:1px solid #1b9bff;*/
    margin-bottom: 10px;

}
#projectSelector ul li.hover,
#projectSelector ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}
#projectSelector ul li:hover > ul {
    visibility: visible;
}
#projectSelector ul ul {
    top: 1px;
    left: 99%;
}
#projectSelector ul li {
    float: none;
}

/* Custom CSS Styles */
#projectSelector {
    width: 90%;
    background: #ECECEC;
    font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
    zoom: 1;
    font-size: 12px;
}
#projectSelector:before {
    content: '';
    display: block;
}
#projectSelector:after {
    content: '';
    display: table;
    clear: both;
}
#projectSelector a {
    display: block;
    padding: 15px 20px;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
}
#projectSelector > ul {
    width: 100%;
}

#projectSelector > ul > li > a {
    border-right: 4px solid #1b9bff;
    color: #333333;
}
#projectSelector > ul > li > a:hover {
    color: #ffffff;
}
#projectSelector > ul > li.active a {
    background: #1b9bff;
}
#projectSelector > ul > li a:hover,
#projectSelector > ul > li:hover a {
    background: #1b9bff;
}
#projectSelector li {
    position: relative;
}
#projectSelector ul li.has-sub > a:after {
    content: '+';
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -6px;
}
#projectSelector ul ul li.first {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}
#projectSelector ul ul li.last {
    -webkit-border-radius: 0 0 3px 0;
    -moz-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
    border-bottom: 0;
}
#projectSelector ul ul {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
#projectSelector ul ul {
    border: 1px solid #0082e7;
}
#projectSelector ul ul a {
    font-size: 12px;
    color: #333333;
}
#projectSelector ul ul a:hover {
    color: #ffffff;
}
#projectSelector ul ul li {
    border-bottom: 1px solid #0082e7;
}
#projectSelector ul ul li:hover > a {
    background: #4eb1ff;
    color: #ffffff;
}
#projectSelector.align-right > ul > li > a {
    border-left: 4px solid #1b9bff;
    border-right: none;
}
#projectSelector.align-right {
    float: right;
}
#projectSelector.align-right li {
    text-align: right;
}
#projectSelector.align-right ul li.has-sub > a:before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -6px;
}
#projectSelector.align-right ul li.has-sub > a:after {
    content: none;
}
#projectSelector.align-right ul ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 598;
    width: 100%;
}
#projectSelector.align-right ul ul li.first {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}
#projectSelector.align-right ul ul li.last {
    -webkit-border-radius: 0 0 0 3px;
    -moz-border-radius: 0 0 0 3px;
    border-radius: 0 0 0 3px;
}
#projectSelector.align-right ul ul {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
#projectSelector > ul > li > a >span{
    padding-left: 6px;
}
/*** PROJECTS MENU [END] ***/

#searchResults .searchResultItem {
    list-style: none !important;
}

#searchResults .searchResultItem >img{
    min-height: 100px;
    width: 100%;

}
#searchResults .searchResultItem >a{
    width: 100%;
    color: #BDBDBD;
}